In [67]:
from google.colab import drive
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

# 1.) Import the Credit Card Fraud Data From CCLE

In [69]:
drive.mount('/content/gdrive', force_remount = True)

Mounted at /content/gdrive

In [70]:
df = pd.read_csv('/content/gdrive/MyDrive/ECON441B_Xialei_Gao/fraudTest.csv')

In [71]:
df

,Unnamed: 0,trans_date_trans_time,cc_num,merchant,category,amt,first,last,gender,street,...,lat,long,city_pop,job,dob,trans_num,unix_time,merch_lat,merch_long,is_fraud
0,0,2020-06-21 12:14:25,2291163933867244,fraud_Kirlin and Sons,personal_care,2.86,Jeff,Elliott,M,351 Darlene Green,...,33.9659,-80.9355,333497,Mechanical engineer,1968-03-19,2da90c7d74bd46a0caf3777415b3ebd3,1371816865,33.986391,-81.200714,0
1,1,2020-06-21 12:14:33,3573030041201292,fraud_Sporer-Keebler,personal_care,29.84,Joanne,Williams,F,3638 Marsh Union,...,40.3207,-110.4360,302,"Sales professional, IT",1990-01-17,324cc204407e99f51b0d6ca0055005e7,1371816873,39.450498,-109.960431,0
2,2,2020-06-21 12:14:53,3598215285024754,"fraud_Swaniawski, Nitzsche and Welch",health_fitness,41.28,Ashley,Lopez,F,9333 Valentine Point,...,40.6729,-73.5365,34496,"Librarian, public",1970-10-21,c81755dbbbea9d5c77f094348a7579be,1371816893,40.495810,-74.196111,0
3,3,2020-06-21 12:15:15,3591919803438423,fraud_Haley Group,misc_pos,60.05,Brian,Williams,M,32941 Krystal Mill Apt. 552,...,28.5697,-80.8191,54767,Set designer,1987-07-25,2159175b9efe66dc301f149d3d5abf8c,1371816915,28.812398,-80.883061,0
4,4,2020-06-21 12:15:17,3526826139003047,fraud_Johnston-Casper,travel,3.19,Nathan,Massey,M,5783 Evan Roads Apt. 465,...,44.2529,-85.0170,1126,Furniture designer,1955-07-06,57ff021bd3f328f8738bb535c302a31b,1371816917,44.959148,-85.884734,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
555714,555714,2020-12-31 23:59:07,30560609640617,fraud_Reilly and Sons,health_fitness,43.77,Michael,Olson,M,558 Michael Estates,...,40.4931,-91.8912,519,Town planner,1966-02-13,9b1f753c79894c9f4b71f04581835ada,1388534347,39.946837,-91.333331,0
555715,555715,2020-12-31 23:59:09,3556613125071656,fraud_Hoppe-Parisian,kids_pets,111.84,Jose,Vasquez,M,572 Davis Mountains,...,29.0393,-95.4401,28739,Futures trader,1999-12-27,2090647dac2c89a1d86c514c427f5b91,1388534349,29.661049,-96.186633,0
555716,555716,2020-12-31 23:59:15,6011724471098086,fraud_Rau-Robel,kids_pets,86.88,Ann,Lawson,F,144 Evans Islands Apt. 683,...,46.1966,-118.9017,3684,Musician,1981-11-29,6c5b7c8add471975aa0fec023b2e8408,1388534355,46.658340,-119.715054,0
555717,555717,2020-12-31 23:59:24,4079773899158,fraud_Breitenberg LLC,travel,7.99,Eric,Preston,M,7020 Doyle Stream Apt. 951,...,44.6255,-116.4493,129,Cartographer,1965-12-15,14392d723bb7737606b2700ac791b7aa,1388534364,44.470525,-117.080888,0
555718,555718,2020-12-31 23:59:34,4170689372027579,fraud_Dare-Marvin,entertainment,38.13,Samuel,Frey,M,830 Myers Plaza Apt. 384,...,35.6665,-97.4798,116001,Media buyer,1993-05-10,1765bb45b3aa3224b4cdcb6e7a96cee3,1388534374,36.210097,-97.036372,0

# 2.) Select four columns to use as features (one just be trans_date_trans)

In [73]:
features = df[['trans_date_trans_time', 'category', 'amt', 'city_pop', 'is_fraud']]

In [74]:
features

       trans_date_trans_time        category     amt  city_pop  is_fraud
0        2020-06-21 12:14:25   personal_care    2.86    333497         0
1        2020-06-21 12:14:33   personal_care   29.84       302         0
2        2020-06-21 12:14:53  health_fitness   41.28     34496         0
3        2020-06-21 12:15:15        misc_pos   60.05     54767         0
4        2020-06-21 12:15:17          travel    3.19      1126         0
...                      ...             ...     ...       ...       ...
555714   2020-12-31 23:59:07  health_fitness   43.77       519         0
555715   2020-12-31 23:59:09       kids_pets  111.84     28739         0
555716   2020-12-31 23:59:15       kids_pets   86.88      3684         0
555717   2020-12-31 23:59:24          travel    7.99       129         0
555718   2020-12-31 23:59:34   entertainment   38.13    116001         0

[555719 rows x 5 columns]

# 3.) Create a unique variable out of trans_date.

In [76]:
df['trans_date_trans_time'] = pd.to_datetime(df['trans_date_trans_time'])

In [77]:
features['trans_date_trans_time'] = [i.hour for i in df['trans_date_trans_time']]
features

<ipython-input-77-180ee3216d0d>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  features['trans_date_trans_time'] = [i.hour for i in df['trans_date_trans_time']]

        trans_date_trans_time        category     amt  city_pop  is_fraud
0                          12   personal_care    2.86    333497         0
1                          12   personal_care   29.84       302         0
2                          12  health_fitness   41.28     34496         0
3                          12        misc_pos   60.05     54767         0
4                          12          travel    3.19      1126         0
...                       ...             ...     ...       ...       ...
555714                     23  health_fitness   43.77       519         0
555715                     23       kids_pets  111.84     28739         0
555716                     23       kids_pets   86.88      3684         0
555717                     23          travel    7.99       129         0
555718                     23   entertainment   38.13    116001         0

[555719 rows x 5 columns]

In [80]:
dummies = pd.get_dummies(features['category'])
X = pd.concat([dummies, features[['city_pop','amt','trans_date_trans_time']]], axis =1)
y = features['is_fraud']

In [81]:
X.head()

,entertainment,food_dining,gas_transport,grocery_net,grocery_pos,health_fitness,home,kids_pets,misc_net,misc_pos,personal_care,shopping_net,shopping_pos,travel,city_pop,amt,trans_date_trans_time
0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,333497,2.86,12
1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,302,29.84,12
2,0,0,0,0,0,1,0,0,0,0,0,0,0,0,34496,41.28,12
3,0,0,0,0,0,0,0,0,0,1,0,0,0,0,54767,60.05,12
4,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1126,3.19,12

# 5.) Train a Logistic regression.

In [88]:
from sklearn.linear_model import LogisticRegression
log_reg = LogisticRegression().fit(X,y)
log_reg

LogisticRegression()

# 6.) The company you are working for wants to target at a False Positive rate of 5% what threshold should you use? (Use oversampled data)

In [84]:
from sklearn.metrics import confusion_matrix
y_prob = log_reg.predict_proba(X)
target_fn_percentage = 5 
threshold = np.percentile(y_prob[:,1], 100-target_fn_percentage)
y_pred = (y_prob[:,1]> threshold).astype(int)
confusion_matrix(y, y_pred)

array([[526883,  26691],
       [  1050,   1095]])

# 7.) If the company makes .02*amt on True transactions and loses -amt on False (Use original data)

In [94]:
tn, fp, fn, tp = 526883, 26691, 1050, 1095
cost_true = 0.02  # cost for true transactions
cost_false = -1  # cost for false transactions

profit = (tn * cost_true) + (fp * cost_false) + (fn * cost_false) + (tp * cost_true)
print("Expected profit: ", profit)

Expected profit:  -17181.44

# 8.) Using Logistic Regression Lasso to inform you. Would you use the selected features in a trusted prediction model?

In [95]:
LogisticRegression('l1')

LogisticRegression(penalty='l1')

In [90]:
from sklearn.linear_model import LogisticRegressionCV
clf = LogisticRegressionCV(cv=5, penalty='l1', solver='liblinear')
clf.fit(X, y)
coef = clf.coef_
important_features = [i for i in range(len(coef[0])) if coef[0][i]!=0]

In [91]:
important_features

[14, 15, 16]

In [96]:
coef

array([[ 0.00000000e+00,  0.00000000e+00,  0.00000000e+00,
         0.00000000e+00,  0.00000000e+00,  0.00000000e+00,
         0.00000000e+00,  0.00000000e+00,  0.00000000e+00,
         0.00000000e+00,  0.00000000e+00,  0.00000000e+00,
         0.00000000e+00,  0.00000000e+00, -6.91261391e-06,
         4.72656734e-04, -2.90070035e-01]])

In [97]:
# which are 'city_pop',	'amt', and 'trans_date_trans_time'